exportPattern("^[[:alpha:]]+")
importFrom("stats", "na.omit", "sd")
importFrom("graphics", "par")
importFrom("utils", "read.table", "write.table")
importFrom("graphics", "plot")
importFrom("effects", "effect", "allEffects")
import("ggplot2")
import("visreg")
import("mgcv")
import("nlme")